{:index 0, :time 17416894, :type :invoke, :process 0, :f :txn, :value [[:w 8 1] [:r 6 nil]]}
{:index 1, :time 20663253, :type :invoke, :process 1, :f :txn, :value [[:r 9 nil] [:w 9 1]]}
{:index 2, :time 5029681838, :type :info, :process 1, :f :txn, :value [[:r 9 nil] [:w 9 1]], :error :net-timeout}
{:index 3, :time 5030425162, :type :info, :process 0, :f :txn, :value [[:w 8 1] [:r 6 nil]], :error :net-timeout}
{:index 4, :time 5030485048, :type :invoke, :process 2, :f :txn, :value [[:w 8 2]]}
{:index 5, :time 5033723211, :type :invoke, :process 3, :f :txn, :value [[:r 7 nil] [:w 9 2] [:r 8 nil]]}
{:index 6, :time 10032583738, :type :info, :process 2, :f :txn, :value [[:w 8 2]], :error :net-timeout}
{:index 7, :time 10032712153, :type :invoke, :process 4, :f :txn, :value [[:w 9 3] [:w 9 4] [:w 8 3] [:w 9 5]]}
{:index 8, :time 10035292215, :type :info, :process 3, :f :txn, :value [[:r 7 nil] [:w 9 2] [:r 8 nil]], :error :net-timeout}
{:index 9, :time 10035400200, :type :invoke, :process 5, :f :txn, :value [[:r 9 nil] [:w 9 6] [:w 9 7]]}
{:index 10, :time 15034876427, :type :info, :process 4, :f :txn, :value [[:w 9 3] [:w 9 4] [:w 8 3] [:w 9 5]], :error :net-timeout}
{:index 11, :time 15035053459, :type :invoke, :process 6, :f :txn, :value [[:r 8 nil] [:w 9 8] [:r 9 nil]]}
{:index 12, :time 15035876576, :type :info, :process 5, :f :txn, :value [[:r 9 nil] [:w 9 6] [:w 9 7]], :error :net-timeout}
{:index 13, :time 15035962876, :type :invoke, :process 7, :f :txn, :value [[:w 9 9] [:w 6 1]]}
{:index 14, :time 20040494366, :type :info, :process 6, :f :txn, :value [[:r 8 nil] [:w 9 8] [:r 9 nil]], :error :net-timeout}
{:index 15, :time 20041583766, :type :info, :process 7, :f :txn, :value [[:w 9 9] [:w 6 1]], :error :net-timeout}
